/*////////////// Fonts //////////////*/

@font-face {
	font-family: "Baskerville";
	src: url("../fonts/Baskerville.ttc");
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	font-family: 'Baskerville', serif;
	font-size: 5em;
	margin: 0 0 5px;
	border-bottom: 1px solid rgb(204, 204, 204);
	padding-bottom: 10px;
}

h2 {
	color: rgb(114, 127, 122);
	font-size: 2em;
}

p {
	color: rgb(85, 85, 85);
	font-size: 1em;
	margin: 0 0 20px 0;
}

header a{
	color: rgb(156, 172, 166);
	text-decoration: none;
}

header a:hover {
	color: rgb(114, 127, 122);
}

#top-image {
	border: 5px rgb(156, 172, 166) solid;
}

#about a {
	color: rgb(59, 130, 182);
	text-decoration: none;
}

#about a:hover{
	text-decoration: underline;
}

#press {
	margin-bottom: 20px;
}
#press img {
	border: 5px rgb(204, 204, 204) solid;
}

#press img:hover {
	border: 5px rgb(114, 127, 122) solid;
}

footer {
	font-size: 0.8em;
	text-align: right;
}
